<html ng-app="myApp">
  <head>
<script type="text/javascript">
      function RedirectionJavascript(){
        document.location.href="http://0.0.0.0:3000/";
        
      }
</script>
    <title>List of pictures</title>
    <link rel="stylesheet" href="bower_components/bootstrap-css/css/bootstrap.min.css" media="screen" title="no title" charset="utf-8">
     <link href="/style.css" rel ="stylesheet"/> 
  </head>

<body  ng-controller="AdminCtrl"  >

<header>

</header>


<table style="width:40%" >

<% for(var i=images.length-1; i!=0 ; i--) {%>

<TR > <img src="http://0.0.0.0:3005/uploads/<%= images[i].name %>" style="width:50%; margin-left:25%;margin-top: 5%" class="imgRect"> </TR>
<div>
<div  class="messageRect" >
              <%= images[i].message%>
                </div>
<a style="margin-left:25%" href="/suppression/<%= images[i]._id %>" class="button cross"> </a>
</div>
            
<% } %>
</table>
</body>
  <script src="bower_components/angular/angular.min.js" charset="utf-8"></script>
  <script src="scripts/app.js" charset="utf-8"></script>
</html>
