
<html lang="en" hola_ext_inject="disabled"><!--<![endif]--><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title></title>
    <meta charset="utf-8">
    <!-- CSS Implementing Plugins -->
    <link rel="stylesheet" href="files/font-awesome.min.css">
    <link href="style-nav.css" rel ="stylesheet"/>
    <link rel="stylesheet" href="files/bootstrap.min.css">
<body  style="
background: #DCDCDC

; ">


<!--img style="margin-left: 350px" src="images/logo.png" /background-image:linear-gradient(#F6AD1A, white);-->
<div class="header">
  <table style="width:100%">
    <tr>
      <td  style="width:24%">
        <img  style="width:100%" src="images/logo.png" />
      </td>
      <td  style="width:37%">

      </td>
      <td  style="width:13%">

      </td>
      <td  style="width:13%">
        <div class="circleSmall"  style="background: #3b5998"  > <i class="fa fa-facebook" aria-hidden="true" style="font-size:30px; color: white; margin-top:25px"></i></div>
      </td>
      <td  style="width:13%">
        <div class="circleSmall" style="background:#00aced " >  <i class="fa fa-twitter" aria-hidden="true" style="font-size:30px; color: white; margin-top:25px"></i></div>
      </td>
    </tr>

  </table>

</div>

<div class="nav">
  <ul id="menu-demo2">
  	<li><a href="#">Lien menu 1</a>
  		<ul>
  			<li><a href="#">lien sous menu 1</a></li>
  			<li><a href="#">lien sous menu 1</a></li>
  			<li><a href="#">lien sous menu 1</a></li>
  			<li><a href="#">lien sous menu 1</a></li>
  		</ul>
  	</li>
  	<li><a href="#">Lien menu 2</a>
  		<ul>
  			<li><a href="#">Lien sous menu 2</a></li>
  			<li><a href="#">Lien sous menu 2</a></li>
  			<li><a href="#">Lien sous menu 2</a></li>
  			<li><a href="#">Lien sous menu 2</a></li>
  		</ul>
  	</li>
  	<li><a href="#">Lien menu 3</a>
  		<ul>
  			<li><a href="#">lien sous menu 3</a></li>
  			<li><a href="#">lien sous menu 3</a></li>
  			<li><a href="#">lien sous menu 3</a></li>
  			<li><a href="#">lien sous menu 3</a></li>
  		</ul>
  	</li>
  	<li><a href="#">Lien menu 4</a>
  		<ul>
  			<li><a href="#">Lien sous menu 4</a></li>
  			<li><a href="#">Lien sous menu 4</a></li>
  			<li><a href="#">Lien sous menu 4</a></li>
  			<li><a href="#">Lien sous menu 4</a></li>
  		</ul>
  	</li>
    <li><a href="#">Lien menu 5</a>
  		<ul>
  			<li><a href="#">Lien sous menu 5</a></li>
  			<li><a href="#">Lien sous menu 5</a></li>
  			<li><a href="#">Lien sous menu 5</a></li>
  			<li><a href="#">Lien sous menu 5</a></li>
  		</ul>
  	</li>
  </ul>

</div>

<div class="main"><!--begin main--->

    <div class="row">
      <div class="col-lg-4">
        <h1><i class="fa fa-home" aria-hidden="true" style="font-size:30px; color: black; "></i> Accueil</h1>
      </div>
    </div>




<table style="width:100%">
  <tr>
    <td style="width:25%">
      <div class="circle" >
        <a  href="#listing" >
      <i class="fa fa-users" aria-hidden="true" style="font-size:60px; color: white; margin-top:25px"></i>
      </a>
       <div style="font-size:18px; color: white;" > Présentation </div>
      </div>
    </td>
    <td style="width:25%">
      <div class="circle" >
         <a  href="#listing" >
           <i class="fa fa-tasks" aria-hidden="true" style="font-size:60px; color: white; margin-top:25px"></i>
          </a>
          <div style="font-size:18px; color: white;" > Activités</div>
      </div>
    </td>
    <td style="width:25%">
      <div class="circle" >
         <a  href="#listing" >
            <i class="fa fa-envelope" aria-hidden="true" style="font-size:60px; color: white; margin-top:25px"></i>
         </a>
         <div style="font-size:18px; color: white;" > Contact </div>
     </div>
    </td>
    <td style="width:25%">
      <div class="circle" >
         <a  href="#listing" >
            <i class="fa fa-envelope" aria-hidden="true" style="font-size:60px; color: white; margin-top:25px"></i>
         </a>
         <div style="font-size:18px; color: white;" > Partenaires</div>
     </div>
    </td>
  </tr>


  <tr>
    <td style="width:25%">
      <div class="circle" >
        <a  href="#listing" >
      <i class="fa fa-users" aria-hidden="true" style="font-size:60px; color: white; margin-top:25px"></i>
      </a>
       <div style="font-size:18px; color: white;" > Présentation </div>
      </div>
    </td>
    <td style="width:25%">
      <div class="circle" >
         <a  href="#listing" >
           <i class="fa fa-tasks" aria-hidden="true" style="font-size:60px; color: white; margin-top:25px"></i>
          </a>
          <div style="font-size:18px; color: white;" > Activités</div>
      </div>
    </td>
    <td style="width:25%">
      <div class="circle" >
         <a  href="#listing" >
            <i class="fa fa-envelope" aria-hidden="true" style="font-size:60px; color: white; margin-top:25px"></i>
         </a>
         <div style="font-size:18px; color: white;" > Contact </div>
     </div>
    </td>
    <td style="width:25%">
      <div class="circle" >
         <a  href="#listing" >
            <i class="fa fa-envelope" aria-hidden="true" style="font-size:60px; color: white; margin-top:25px"></i>
         </a>
         <div style="font-size:18px; color: white;" > Partenaires</div>
     </div>
    </td>
  </tr>
</table>



<div class="row">
  <div class="col-lg-12">
  &nbsp;
  </div>
</div>



<div id="boxe_defil">
<div id="defile">Ce site est encours de développement</div>
</div>


</div><!---end main-->

<div class="footer"></div>






</body>
<script>
<$(window).scroll(function (event) {
    // A chaque fois que l'utilisateur va scroller (descendre la page)
    var y = $(this).scrollTop(); // On récupérer la valeur du scroll vertical

    //si cette valeur > à 200 on ajouter la class
    if (y >= 100) {
      $('.nav').addClass('fixed');
    } else {
      // sinon, on l'enlève
      $('.nav').removeClass('fixed');
    }
  });



</script>
<script type="text/javascript">
var defile;// l'element a deplacer
var psinit = 580; // position horizontale de depart
var pscrnt = psinit;
function texteDefile() {
   if (!defile) defile = document.getElementById('defile');
   if (defile) {
      if(pscrnt < ( - defile.offsetWidth) ){
         pscrnt = psinit;
                } else {
         pscrnt+= -1; // pixel par deplacement
      }
      defile.style.left = pscrnt+"px";
   }
}
setInterval("texteDefile()",20); // delai de deplacement
</script>


  </html>
